<!DOCTYPE HTML>
<html>
  <head>
    <title>Microblog - about</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
    <link rel="icon" href="{{url_for('static',filename='favicon.png') }}">
  </head>
  <body>
    <header id="header">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <span id="sessioninfo"></span>
    </header>
    <h2>What is microblog?</h2>
    <p>Microblog is a social media-like website by gosoccerboy5. Inspired by <a href="https://wasteof.money">wasteof.money</a>.</p>
    <h2>Well, who's gosoccerboy5?</h2>
    <p>A random teenager with too much time on his hands</p>
    <p>I'm also gosoccerboy5 on replit, github, scratch, and gosoccerboy5#6585 on discord.</p>
    <h2>Where's the source code 🤓</h2>
    <a href="https://replit.com/@gosoccerboy5/microblog">Here</a>
    <br>
    <a href="https://github.com/gosoccerboy5/microblog">Or here</a>
    <script src="{{url_for('static',filename='util.js') }}" type="module"></script>
  </body>
</html>