<!DOCTYPE HTML>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
    <link rel="icon" href="{{url_for('static',filename='favicon.png') }}">
  </head>
  <body>
    <header id="header">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <span id="sessioninfo"></span>
    </header>
    <h3>Login/signup</h3>
    <input id="username" placeholder="Username">
    <br>
    <input id="password" type="password" placeholder="Password">
    <br>
    <button id="login">Login!</button> <button id="signup">Sign up!</button>
    <br>
    <br>
    <a href="/">Home</a>
    <br>
    <a style="display:none" id="back" href="#" onclick="window.location.replace(document.referrer)">Return to where you were</a>
    <script type="module" src="{{url_for('static',filename='login.js') }}"></script>
  </body>
</html>